.img-01:hover{transform: scale(1.1);
}

.img-02:hover{transform: scale(1.1);
}

.img-03:hover{transform: scale(1.1);
}

.img-04:hover{transform: scale(1.1);
}

.img-05:hover{transform: scale(1.1);
}

.img-06:hover{transform: scale(1.1);
}

.img-07:hover{transform: scale(1.1);
}

.img-08:hover{transform: scale(1.1);
}

.img-09:hover{transform: scale(1.1);
}

.img-10:hover{transform: scale(1.1);
}

.img-11:hover{transform: scale(1.1);
}

.img-12:hover{transform: scale(1.1);
}

.img-13:hover{transform: scale(1.1);
}

.img-14:hover{transform: scale(1.1);
}

.img-15:hover{transform: scale(1.1);
}

.img-16:hover{transform: scale(1.1);
}

.img-17:hover{transform: scale(1.1);
}

.img-18:hover{transform: scale(1.1);
}

.img-19:hover{transform: scale(1.1);
}