.btn{
    
    border: 1px solid #846131;
    padding: 6px 8px;
    border-radius: 8px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}
    
.btn:hover{transform: scale3d(1.1);}
