.btn{
    
    border: 1px solid #846131;
    padding: 6px 8px;
    border-radius: 8px;
    color: whitesmoke;
    justify-content: center;
}
    
    .btn-services{
        background-color: #846131;
        color: black;
        padding: 6px 8px;
        border-radius: 8px;
    }

    .btn-index{
        :hover{ transform: -10px;}
        border: 1px solid #ffffff;
    padding: 6px 8px;
    border-radius: 8px;
    color: #846131;
    justify-content: center;
    }