.footer {
    color: #846131;
}

.ft{
    background-color: #8461311c;
}

.logo-footer {
    width: 150px;
    height: 150px;
}

.dice{
    color: #846131;
}

.footer-text {
    font-size: small;
    color: #846131;
}

.follow-text {
    color: #846131
}

.icon-ig {
    margin: 5px;
    align-items: center;
}

.icon-fb {
    margin: 5px;
    align-items: center;
}

.icon-yt {
    margin: 5px;
    align-items: center;
}

.credits-footer {
    color: #846131;
}