.musica {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #846131;
    font-family: europhonic;
    font-size: 100%;
    font-weight: bold;
}

.row {
    padding: 20px;
}

.col {
    margin: 10px;
}

.discos1 {
    color: #846131;
}

.discos2 {
    color: #846131;
}

.img-1:hover{transform: scale(1.1);
}

.img-2:hover{transform: scale(1.1);
}

.img-3:hover{transform: scale(1.1);
}

.img-4:hover{transform: scale(1.1);
}

.img-5:hover{transform: scale(1.1);
}

.img-art:hover{transform: scale(1.1);
}

.watchmore:hover{transform: scale(1.1);
}
