.musica {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #846131;
    font-family: europhonic;
    font-size: 100%;
    font-weight: bold;
}

.row {
    padding: 20px;
}

.col {
    margin: 10px;
}

.discos1 {
    color: #846131;
}

.discos2 {
    color: #846131;
}
