$card-height: 100% 

;tarjeta{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 12px;
    margin: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}
   .tarjeta_body{
align-content: center;
align-items: center;

   }

    .tarjeta-titulo{
 color: #846131; 
align-content: center;
}

.tarjeta-texto{
  color: #846131;
  align-items: center;  
  justify-content: center;
  }

.btn{
    background-color: none;
    padding: 2px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
 }
   

