* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs-grande {
    font-size: 4rem;
}

body {
    background-image: url(../img/background.jpg);
height: 100%;
width: 100%;
    font-family: europhonic;
}

