* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs-grande {
    font-size: 4rem;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
height: 100%;
width: 100%;
background-attachment: fixed;
    font-family: europhonic;
}

